@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./loader/fonts/DMSans/index.css');

@font-face {
  font-family: 'EckhartDisplayBlack';
  src: url('/fonts/EckhartDisplayBlack.woff2') format('woff2');
  font-weight: 600;
}
